/*
/*
    Created on : Feb 8th, 2019, 8:39:38 PM
    Author     : Peter Wachira
*/
html body {
    /* margin: 0;
    padding: 0; */
    background-image: url("../resources/theme.jpg");
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: content-box; */
    background-color: rgba(0,0,0,0.9);

}
.paragraph-container{
  text-align: center;
  border:0.0001em solid white;
  width:60%;
  margin-left: 18%;
  margin-right:20%;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.5);
  padding:25px;
  color: rgba(255,140,0,0.8);
  font-style: italic;
}
#triangle-image{
  float:left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 100%;
  clear: both;

}
/* .outer-container{
  background-size: cover;
  height: 100%;
  width: 100%;
} */
  .container{
width: 70%;
margin-left: 15%;
margin-right: 15%;
text-align: center;
font-size: 30px;
border:0.01em ;
/* width:60%;
margin-left: 20%;
margin-right:20; */
background-color: rgba(0,0,0,0.5);
color: white;

  }

#header{
  margin-top: 70px;
  color:white;
  text-align: center;
  padding-bottom: 40px;
  font-size: 50px;
  color: rgba(255,140,0,0.9);
}
